@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
}

.menu-container {
    -fx-background-color: #0d0a14;
    -fx-min-width: 1024px;
    -fx-min-height: 576px;
}

.menu-title {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 50px;
    -fx-text-fill: #e63946;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.9), 0, 0, 4, 4); /* Bóng đổ đổ cứng phong cách Retro */
}
.menu-subtitle {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;
    -fx-text-fill: #ffb703;
    -fx-effect: dropshadow(three-pass-box, black, 0, 0, 2, 2);
}

.menu-button, .menu-button-exit {
    -fx-background-color: #3a225c;
    -fx-text-fill: #ffe3a8;
    -fx-font-family: "Press Start 2P", monospace;
    -fx-font-size: 14px;
    -fx-background-radius: 4px;
    -fx-padding: 14px 0px;
    -fx-cursor: hand;
    -fx-pref-width: 250px;
    -fx-border-color: #1e1130;
    -fx-border-width: 4px;
    -fx-border-radius: 4px;
}

.menu-button-exit {
    -fx-background-color: #4a4e69;
}

.menu-button:hover, .menu-button-exit:hover {
    -fx-background-color: #00b4d8;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0077b6;
    -fx-translate-y: -2px;
}

.menu-button:pressed, .menu-button-exit:pressed {
    -fx-translate-y: 1px;
}

.menu-sprite {
    -fx-smooth: false;
}
.shadow-ellipse {
    -fx-min-width: 90px;
    -fx-min-height: 12px;
    -fx-max-width: 90px;
    -fx-max-height: 12px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 50%;
}